<template>
  <div>
    <div id="slogan" class="text-center">
      <h2>
        Bem vindo ao
        <strong>{{ msg }}</strong>
      </h2>
      <h5 class="text-white">Consumindo API Climatempo com Vue.js</h5>
    </div>
    <div class="container">
      <div id="filtro">
        <div class="row">
          <div class="col-md-3">
            <select @change="getCidades($event.target.value)" class="form-control">
              <option selected>Estados</option>
              <option
                v-for="estado in estados"
                :value="estado.sigla"
                :key="estado.sigla"
              >{{ estado.nome }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <select
              @change="idCidade = $event.target.value"
              :disabled="!cidades.length"
              class="form-control"
            >
              <option selected>Cidades</option>
              <option
                v-for="cidade in cidades"
                :value="cidade.id"
                :key="cidade.id"
              >{{ cidade.cidade }}</option>
            </select>
          </div>
          <div class="col-md-3">
            <button :disabled="!idCidade" @click="getClima()" class="btn btn-dark btn-block">Buscar</button>
          </div>
        </div>
      </div>
      <div v-if="render" class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div id="icon" class="col-md-2 text-center">
                <img v-bind:src="forecast.icone" class="card-img" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ forecast.cidade }}</h5>
                  <p class="card-text">This is a wider card</p>
                  <p class="card-text">
                    <small class="text-muted">{{ forecast.data }} | {{ forecast.hora }}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { estadosBrasil } from "../assets/options/estados";
import Weather from "../services/weather";

export default {
  name: "MyWeatherApp",
  props: {
    msg: String
  },
  data: () => {
    return {
      estados: estadosBrasil,
      cidades: [],
      idCidade: undefined,
      render: false,
      forecast: {}
    };
  },
  methods: {
    getCidades(estado) {
      this.cidades = [];
      this.idCidade = undefined;
      Weather.getCidades(estado).then(cidades => {
        this.cidades = cidades.data.map(cidade => {
          return {
            id: cidade.id,
            cidade: cidade.name
          };
        });
      });
    },
    getClima() {
      Weather.getClima(this.idCidade).then(clima => {
        this.forecast = {
          cidade: clima.data.name,
          condicao: clima.data.data.condition,
          data: clima.data.data.date.substr(0, 10),
          hora: clima.data.data.date.substr(11, 5),
          humidade: clima.data.data.humidity,
          icone: require(`@/assets/icons/${clima.data.data.icon}.png`),
          temparatura: clima.data.data.temperature,
          sensacao: clima.data.data.sensation,
          velocidadeVento: clima.data.data.wind_velocity
        };
        this.render = true;
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#slogan {
  margin-bottom: 30px;
}

#icon .card-img {
  padding: 20px;
}

#filtro {
  margin-bottom: 30px;
}

h3 {
  margin: 40px 0 0;
}
</style>
