<template>
  <div id="app">
    <MyWeatherApp msg="MyWeatherApp"/>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import "font-awesome/css/font-awesome.min.css";
import MyWeatherApp from './components/MyWeatherApp.vue'

export default {
  name: 'app',
  components: {
    MyWeatherApp
  }
}
</script>

<style>
body {
  background: url('./assets/background/sky.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; */
  margin-top: 60px;
}
</style>
